@import 'guide.scss';
.errcase {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #capa {
        width: 10rem;
    }
    .topic {
        color: $mainColor;
        font-weight: 200;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .context {
        text-align: center;
        line-height: 1.4;
        width: 70%;
        margin: 0 auto;
        color: $noteFontColor;
        span {
            color: darken($noteFontColor, 20%);
        }
    }
}